.drop-shadow-down{
    box-shadow: rgb(41, 27, 46) 0px 10px 25px 0px;
}
.drop-shadow-down-left{
    box-shadow: rgb(41, 27, 46) -5px 10px 25px 0px;
}
.drop-shadow-down-right{
    box-shadow: rgb(41, 27, 46) 5px 10px 25px 0px;
}
html {
    width: 100%;
    height: 100%;
}

.margins-top-bottom-10{
    margin-bottom: 10px;
    margin-top: 10px;
}

.margins-top-bottom-2{
    margin-bottom: 2px;
    margin-top: 2px;
}

.popver {position: relative;}
.big_img {
    height: 250px;
    position: absolute;
    border: 3px solid #E7772C;
    border-radius: 5px;
    z-index: 100;
    left: -175px;
}

@media screen and (min-width: 768px) {
    .big_img {
        bottom: 27px;
    }

}
.big_img_track {
    height: 250px;
    position: absolute;
    border: 3px solid #E7772C;
    border-radius: 5px;
    z-index: 100;
    bottom: 11px;
    left: -150px;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}

.content-score {
    display: none;
}

.panel .list-group {
    margin-bottom: 0px;
}

.ajax_loader {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    background: url("../images/ajax_loader.gif") no-repeat scroll 50% 50% transparent;
    background-size: 70% 70%;
    top: 20px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.notinrace {
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.2, rgba(255, 255, 255, 0)),
            color-stop(0.50, rgba(255, 170, 170, 1)),
            color-stop(0.8, rgba(255, 255, 255, 0))
    );
    background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0) 20%, rgba(255, 170, 170, 1) 50%, rgba(255, 255, 255, 0) 80%);
    background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 20%, rgba(255, 170, 170, 1) 50%, rgba(255, 255, 255, 0) 80%);
    background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 20%, rgba(255, 170, 170, 1) 50%, rgba(255, 255, 255, 0) 80%);
    background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 20%, rgba(255, 170, 170, 1) 50%, rgba(255, 255, 255, 0) 80%);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 20%, rgba(255, 170, 170, 1) 50%, rgba(255, 255, 255, 0) 80%);
    background-size: 100px 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-size: small;
}

.firstplace {
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.2, rgba(255, 255, 255, 0)),
            color-stop(0.50, rgba(253, 208, 23, 0.3)),
            color-stop(0.8, rgba(255, 255, 255, 0))
    );
    background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0) 20%, rgba(253, 208, 23, 0.3) 50%, rgba(255, 255, 255, 0) 80%);
    background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 20%, rgba(253, 208, 23, 0.3) 50%, rgba(255, 255, 255, 0) 80%);
    background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 20%, rgba(253, 208, 23, 0.3) 50%, rgba(255, 255, 255, 0) 80%);
    background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 20%, rgba(253, 208, 23, 0.3) 50%, rgba(255, 255, 255, 0) 80%);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 20%, rgba(253, 208, 23, 0.3) 50%, rgba(255, 255, 255, 0) 80%);
    background-size: 100px 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-size: small;
}

.secondplace {
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.2, rgba(255, 255, 255, 0)),
            color-stop(0.50, rgba(102, 102, 102, 0.2)),
            color-stop(0.8, rgba(255, 255, 255, 0))
    );
    background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0) 20%, rgba(102, 102, 102, 0.2) 50%, rgba(255, 255, 255, 0) 80%);
    background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 20%, rgba(102, 102, 102, 0.2) 50%, rgba(255, 255, 255, 0) 80%);
    background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 20%, rgba(102, 102, 102, 0.2) 50%, rgba(255, 255, 255, 0) 80%);
    background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 20%, rgba(102, 102, 102, 0.2) 50%, rgba(255, 255, 255, 0) 80%);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 20%, rgba(102, 102, 102, 0.2) 50%, rgba(255, 255, 255, 0) 80%);
    background-size: 100px 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-size: small;
}

.thirdplace {
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.2, rgba(255, 255, 255, 0)),
            color-stop(0.50, rgba(124, 66, 17, 0.3)),
            color-stop(0.8, rgba(255, 255, 255, 0))
    );
    background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0) 20%, rgba(124, 66, 17, 0.3) 50%, rgba(255, 255, 255, 0) 80%);
    background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 20%, rgba(124, 66, 17, 0.3) 50%, rgba(255, 255, 255, 0) 80%);
    background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 20%, rgba(124, 66, 17, 0.3) 50%, rgba(255, 255, 255, 0) 80%);
    background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 20%, rgba(124, 66, 17, 0.3) 50%, rgba(255, 255, 255, 0) 80%);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 20%, rgba(124, 66, 17, 0.3) 50%, rgba(255, 255, 255, 0) 80%);
    background-size: 100px 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-size: small;
}

@media (max-width: 767px) {

    .visible-xs.collapse.in {
        display: block!important;
    }
    .visible-xs.collapse {
        display: none!important;
    }

}

#panel-scores tr:not(:first-child):hover td, #events tr:not(:first-child):hover td {
    background-color: #428bca;
    background-image: linear-gradient(to bottom,#428bca,#428bca 80%);
    color: white;
}

#panel-scores-edit tr:hover td{
    background-color: #428bca;
    background-image: linear-gradient(to bottom,#428bca,#428bca 80%);
    color: white;
}


@media screen and (min-width: 768px) {
    body {
        background: url("../images/background_1.jpg") no-repeat 0 0 transparent;
    }

}
/*html ,*/
body {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    background-repeat:no-repeat;
    display: compact;
}

html, body {
    overflow-x: hidden;
}

.header-placeholder {
    margin-top: 10px;
}

div.months{
    margin-left: 20px;
}

.panel .table>thead>tr>th,.panel .table>tbody>tr>th,.panel .table>tfoot>tr>th,.panel .table>thead>tr>td,.panel .table>tbody>tr>td,.panel .table>tfoot>tr>td
    {
        padding: 4px;
        padding-top: 6px;
        padding-bottom: 6px;
        line-height: 0.5;
    }
#events {
    min-height: 300px;
}

.months a{
    width: 100%;
}

.years a,.months a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    display: block;
    margin: 1px 0;
    padding: 2px 0 2px 15px;
    width: 100%;
}

.years a {
    color: #048fd8;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
}

.years a.selected,.months a.selected {
    background: #06abf3;
    color: white;
}

#sidebar div{
    line-height: 160%;
    overflow: hidden;
    font-size: 1em;
}

#sidebar a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    display: block;
    margin: 1px 0;
    padding: 2px 0 2px 15px;
    width: 100%;
}

.years a:hover,.months a:hover  {
    background: #a0a2a5;
    color: white;
    text-decoration: none;

}

.years a span,.months a span {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background: #7a8084;
    color: #fff;
    display: block;
    float: right;
    margin-right: 3px;
    padding: 0 5px;

}


html:before ,
body:before {
    content:"";
    display:block;
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index: -1;
    /*background-color: rgba(255, 255, 255, 0.9);*/
    /*background-color: #eaeaea;*/
}
.not-first-margin-top-10:not(:first-child){
    margin-top: 10px;
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}

.noClick {
    pointer-events:none;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    /*margin-bottom: 10px;*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

div.row.not-first-margin-top-10 {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    padding-top: 0px;
}
div.row.not-first-margin-top-10:nth-child(odd) {
    background-color: #f9f9f9;
}
.not-first-margin-top-10:not(:first-child) {
    margin-top: 0px;
}
#playerList .panel .panel-body .row {
    text-align: center;
}
#playerList .panel>.panel-body>.row>div>button {
    width: 100%;
}

.cssSlideUp {
    transition: .5s linear all;
    height: 124px;
    overflow: hidden;
}
.cssSlideUp.ng-hide {
    height:0;
}


.fadein,
.fadeout {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    display: block !important;
}

.overlay {
    padding: 15px;
    background: rgba(255, 255, 255, 0.4);
}

.moto-logo-15deg {
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.cssFade {
    transition: 0.5s linear all;
    opacity: 1;
}
.cssFade.ng-hide {
    opacity: 0;
}

.alertFade {
    transition: 0.5s linear all;
    opacity: 1;
    padding: 5px;
    text-align: center;
    background-color: #ebccd1;
    border-radius: 8px;
}
.alertFade.ng-hide {
    opacity: 0;
}

/*@media screen and (min-width: 768px) {*/
    .loading {
        z-index: 1000;
        top: 0;
        height: 500px;
        opacity: 0.9;
        background: transparent url('../images/motorstorm-apocalypse-muerte.jpg') no-repeat;
        background-size: cover;
        border-radius: 3px;
    }
/*}*/
@media screen and (max-width: 767px) {
    .loading {
        /*display:none;*/
    }
}


.score-show-hide {
   /* padding:10px;
   border:1px solid black;
    background:white;*/
}

.score-show-hide {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.score-show-hide.ng-hide {
    opacity:0!important;
}


.score-hide, .score-show {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.score-hide {
    opacity:0!important;
}

.score-hide.score-hide-active {
    opacity:0!important;
}

.score-show {
    opacity:1;
}

.score-show.score-show-active {
    opacity:1;
}

.scorefadein,
.scorefadeout {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.scorefadein.ng-hide-remove,
.scorefadeout.ng-hide-add.ng-hide-add-active {
    opacity: 0.0;
    display: block !important;
}

.scorefadeout.ng-hide-add,
.scorefadein.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    display: block !important;
}



.animate-hide, .animate-show {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.animate-hide ,
.animate-enter {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    height: 0px;
    opacity: 0.1;
}

.animate-hide.animate-hide-active ,
.animate-enter {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    height: 0px;
    opacity: 0.1;
}

.animate-show {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    height: 30px;
    opacity: 1;
}

.animate-show.score-show-active {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    height: 30px;
    opacity: 1;
}

.margins-track-list{
    margin: 15px 0;
    line-height: 12px;
}

.inverse-dropdown{
    background-color: #222;
    border-color: #080808;
}
.inverse-dropdown>li>a{
 color: #999;
}
.inverse-dropdown>li>a:hover{
    color: #000;
}