<div class="header-placeholder"></div>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="row">
            <div class="col-sm-4">
                <yearscore></yearscore>
            </div>
            <div class="col-sm-4">
                <monthscore></monthscore>
            </div>
            <div class="col-sm-4">
                <lasteventscore></lasteventscore>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-offcanvas row-offcanvas-left" ng-class="{active: viewNavigation}" >
    <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation" ng-controller="sidebarMenuController as sidebar" ng-class="{noClick: loading}">
        <div class="years" ng-repeat="data in years()">
            <a href="javascript:void(0)" data-id="year_{{data.year}}" ng-class="{selected: selectedYear() == data.year}" ng-click="loadYear(data.year)" rel="filter">
                {{data.year }}
                <span><img ng-src="../resources/images/ajax_loader_1.gif" style="width: 48px;height: 21px;" ng-show="loading && selectedYear() == data.year"/></span>
            </a>
            <div class="months" ng-repeat="month in data.months">
                <a href="javascript:void(0)" data-month-id="month_{{month}}" ng-class="{selected: selectedMonth() == month && selectedYear() == data.year}" ng-click="loadYearMonth(data.year, month)" rel="filter" translate="months.{{month}}">
                    {{month}}
                    <span></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="row" ng-controller="LastUpdateInfoCtrl">
            <p class="pull-left visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas" ng-click="toggleNavigation()">Toggle navigation</button>
            </p>
            <div class="alert alert-warning">
                <strong>Ostatnia aktualizacja:</strong> 2014-10-09 - Under construction (65% completed)
            </div>
        </div>
        <div id="events" class="row" ng-controller="eventsController as events" >
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <button class="btn btn-sm btn-danger pull-right" ng-click="ok()">X</button>
                    <h3></h3>
                </div>
                <div class="modal-body">
                    <youtube-video id="best-vid" video-url="currentProjectUrl"></youtube-video>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">Close</button>
                </div>
            </script>
            <!-- track by revent.id -->
            <div ng-if="loading" ng-class="{loading: loading}"><i class="fa fa-refresh fa-5x fa-spin" style="z-index: 1001;top: 50%;left: 50%;position: absolute;"></i></div>
            <div ng-repeat="revent in racing_events() | filter:eventsfilter track by revent.id  "  ng-model="eventsfilter.$" ng-init="isVisible = $first;filteredArray={};">
                <div class="panel panel-primary drop-shadow-down" style="position: relative;">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-eye-open" style="cursor: cell;" data-event-visible="0" ng-click="isVisible = !isVisible"></span>&nbsp;<span>Event: {{revent.timeStamp}}
                        <span ng-if="revent.movieLink"><a class="fancybox-media" ng-href="{{revent.movieLink}}" ng-click="open($event, revent.movieLink)"  style="float: right;color: white;" rel="media-gallery">Film</a></span></span></h3>
                    </div>
                    <div ng-show="isVisible" class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped small">
                                <thead>
                                <tr>
                                    <th style="vertical-align: bottom;" translate='eventlist.player'>Gracz</th>
                                    <th style="line-height: 20px;text-align: center;vertical-align: middle;" ng-repeat="trackinevent in revent.tracks track by trackinevent.id">
                                        <ng-switch on="trackinevent.track_code!=null">
                                            <div ng-switch-when="true" tooltip-popup-delay="500" tooltip-html-unsafe="<img class='big_img_track' src='../resources/images/maps/{{trackinevent.track_code}}.png' />" >
                                                <span ng-if="trackinevent.track_code && trackinevent.track_variant">{{'mapnames.'+trackinevent.track_code | translate}} : {{'mapnames.'+trackinevent.track_code+'_v.'+trackinevent.track_variant | translate}}</span>
                                                <span ng-if="trackinevent.track_code && !trackinevent.track_variant">{{'mapnames.'+trackinevent.track_code | translate}}</span>
                                            </div>
                                            <div ng-switch-default>{{trackinevent.track_name}}</div>
                                        </ng-switch>
                                    </th>
                                    <th style="line-height: 20px;text-align: center;vertical-align: bottom;" translate='eventlist.total_score'>Suma punktów</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="revent.vehiclesUsed > 0">
                                        <td></td>
                                        <td ng-repeat="(key, vehicles) in revent.vehiclePresenceInRun track by key">
                                            <div ng-repeat="vehicleId in vehicles" style="width: 100%;text-align: center;vertical-align: middle;" class="popver" rel="popover" ng-if="revent.vehicles[vehicleId].vehicle_code">
                                                <img tooltip-popup-delay="500" tooltip-html-unsafe="<span style='white-space: nowrap;'>{{revent.vehicles[vehicleId].vehicle_name}}</span><img class='big_img' src='../resources/images/vehicles/big/{{revent.vehicles[vehicleId].vehicle_code}}.png' />" ng-src='../resources/images/vehicles/icons/{{revent.vehicles[vehicleId].vehicle_code}}.png' width='50px' height='30px'/>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr ng-repeat="racingRow in revent.tableRacingEventRows track by racingRow.id" playerscorerow="{players: revent.players, scoresRow: racingRow, tracks: revent.tracks}"></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>