<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="border: 2px solid gray;border-radius: 15px;padding-bottom: 20px;">
            <div class="overlay" style="border-radius: 30px;margin-top: 20px;">
                <h1 class="header">
                    <span class="fa-stack">
                        <img src='../resources/images/icons/motorstorm_red_logo.png' width='72px' height='72px' title='MotoScore' class="moto-logo-15deg"/>
                    </span>
                    <span>Admin Area</span>
                </h1>
                <!--action="/ROOT/j_spring_security_check"-->
                <form novalidate name="loginform" class="form-signin" ng-class="{ loading:form.submitting }" ng-submit="login()" >
                    <legend><h2 class="form-signin-heading">Please sign in</h2></legend>
                    <div class="alert alert-danger" ng-show="error">{{error}}</div>

                    <div class="input-group" style="margin-bottom: 15px;">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        <input class="form-control" name="username" id="username" type="text" ng-model="user.username" ngMaxlength="3" maxlength="32" placeholder="Username" ngRequired ngTrim="true"/>
                    </div>
                    <div class="input-group" style="margin-bottom: 20px;">
                        <span class="input-group-addon"><i class="fa fa-unlock-alt fa-fw"></i></span>
                        <input class="form-control" name="password" id="password"  type="password" ng-model="user.password" minlength="3" ngMaxlength="32" placeholder="Password" ngRequired ngTrim="true"/>
                    </div>
                    <div class="form-group">
                        <button ng-disabled="isSubmitDisabled()" id="signin" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>