<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2"><button ng-click="openAdd()" class="btn btn-success btn-lg pull-left"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add a player</button></div>
    </div>
    <div class="row" style="margin-top: 10px;"></div>
    <div class="row" id="playerList">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default drop-shadow-down">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span>Player list</span>
                        <span class="pull-right label label-success">{{players.length}}</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row not-first-margin-top-10">
                        <div class="col-md-1 margins-top-bottom-10"><strong>Id</strong></div>
                        <div class="col-md-4 margins-top-bottom-10"><strong>Nick</strong></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-2 margins-top-bottom-10"><strong>Edit</strong></div>
                        <div class="col-md-2 margins-top-bottom-10"><strong>Delete</strong></div>
                    </div>
                    <div class="row not-first-margin-top-10" ng-show="loading" ng-if="loading">
                        {{infoText}}
                    </div>
                    <div class="row not-first-margin-top-10" ng-hide="loading" ng-repeat="player in players">
                        <div class="col-md-1 margins-top-bottom-2">{{player.id}}</div>
                        <div class="col-md-4 margins-top-bottom-2">{{player.player_nick}}</div>
                        <div class="col-md-3 margins-top-bottom-2"></div>
                        <div class="col-md-2 margins-top-bottom-2"><button class="btn btn-xs btn-block btn-info" ng-click="openEdit(player)"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button></div>
                        <div class="col-md-2 margins-top-bottom-2"><button class="btn btn-xs btn-block btn-danger" ng-click="openDelete(player)"><span class="glyphicon glyphicon-remove"></span>&nbsp;Delete</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>