<div class="panel panel-primary drop-shadow-down" style="position: relative;" >
    <div class="ajax_loader" ng-show="loading"></div>
    <div class="panel-heading"><span ng-model="scoresTitle">{{scoresTitle | translate}}</span><span class="dropdown pull-right" on-toggle="toggled(open)">
        <a href class="dropdown-toggle">{{range}}</a>
        <ul ng-if="items.size() > 1" class="dropdown-menu">
            <li ng-repeat="choice in items">
                <a ng-href="#" ng-click="scoreForYear(choice)">{{choice}}</a>
            </li>
        </ul>
        </span>
    </div>
    <div  style="max-height: 165px;min-height: 165px;height: 165px;overflow-y: auto;margin-bottom: 0;  border-bottom-right-radius: 4px;  border-bottom-left-radius: 4px;" >
        <ul class="list-group" ng-hide="loading">
            <li class="list-group-item" style="min-height: 42px;" ng-repeat="row in scores"><div class="scorefadein scorefadeout" ng-show="blinkvis" blink="{blink: 3, condition: row.place == 1}"><span class="pull-left badge">{{row.place}}</span>&nbsp;{{row.player.player_nick}}<span class="pull-right label label-success">{{row.score}}</span></div></li>
        </ul>
    </div>
</div>



