<div class="panel panel-primary drop-shadow-down" style="position: relative;" >
    <div class="ajax_loader" ng-show="loading"></div>
    <div class="panel-heading"><span ng-model="scoresTitle">{{scoresTitle | translate}}</span><span class="dropdown pull-right" on-toggle="toggled(open)">
        <a href class="dropdown-toggle" translate="{{range}}"></a>
        <ul class="dropdown-menu">
            <li ng-repeat="choicem in monthlistForChosenYear">
                <a ng-href="#" ng-click="scoreForMonth(choicem)" translate="months.{{choicem}}">{{choicem}}</a>
            </li>
        </ul>
        </span>
        <span class="pull-right">&nbsp;/&nbsp;</span>
        <span class="dropdown pull-right" on-toggle="toggled(open)">
            <a href class="dropdown-toggle">{{chosenYear}}</a>
            <ul ng-if="itemyears.size() > 1" class="dropdown-menu">
                <li ng-repeat="choicey in itemyears">
                    <a ng-href="javascript:void(0)" ng-click="scoreForYear(choicey.year)">{{choicey.year}}</a>
                </li>
            </ul>
        </span>
    </div>
    <div  style="max-height: 165px;min-height: 165px;height: 165px;overflow-y: auto;margin-bottom: 0;  border-bottom-right-radius: 4px;  border-bottom-left-radius: 4px;" >
        <ul class="list-group" ng-hide="loading">
            <li class="list-group-item" style="min-height: 42px;" ng-repeat="row in scores"><div class="scorefadein scorefadeout" ng-show="blinkvis" blink="{blink: 3, condition: row.place == 1}"></span><span class="pull-left badge">{{row.place}}</span>&nbsp;{{row.player.player_nick}}<span class="pull-right label label-success">{{row.score}}</span></div></li>
        </ul>
    </div>
</div>



