<div class="container">
    <div class="row">
        <div class="col-md-8"><button ng-click="openAdd()" class="btn btn-success btn-lg pull-left"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add a track</button></div>
    </div>
    <div class="row" style="margin-top: 10px;"></div>
    <div class="row" id="tackList">
        <div class="col-md-12">
            <div class="panel panel-default drop-shadow-down">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span>Track list</span>
                        <span class="pull-right label label-success">{{tracks.length}}</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row not-first-margin-top-10">
                        <div class="col-md-1 margins-top-bottom-10"><strong>Id</strong></div>
                        <div class="col-md-5 margins-top-bottom-10"><strong>Track name</strong></div>
                        <div class="col-md-1 margins-top-bottom-10"><strong>Track code</strong></div>
                        <div class="col-md-1 margins-top-bottom-10"><strong>Track variant</strong></div>
                        <div class="col-md-2 margins-top-bottom-10"><strong>Image</strong></div>
                        <div class="col-md-1 margins-top-bottom-10"><strong>Edit</strong></div>
                        <div class="col-md-1 margins-top-bottom-10"><strong>Delete</strong></div>
                    </div>
                    <div class="row not-first-margin-top-10" ng-show="loading" ng-if="loading">
                        {{infoText}}
                    </div>
                    <div class="row not-first-margin-top-10" ng-hide="loading" ng-repeat="track in tracks">
                        <div class="col-md-1 margins-top-bottom-10">{{track.id}}</div>
                        <div class="col-md-5 margins-top-bottom-10">{{track.track_name}} / {{'mapnames.'+track.track_code | translate}} : {{'mapnames.'+track.track_code+'_v.'+track.track_variant | translate}}</div>
                        <div class="col-md-1 margins-top-bottom-10">{{track.track_code}}</div>
                        <div class="col-md-1 margins-top-bottom-10">{{track.track_variant}}</div>
                        <div class="col-md-2 margins-top-bottom-2">
                            <img ng-if="track.track_code" ng-src="../resources/images/maps/{{track.track_code}}.png" width="50px" height="38px">
                        </div>
                        <div class="col-md-1 margins-top-bottom-10"><button class="btn btn-xs btn-block btn-info" ng-click="openEdit(track)"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button></div>
                        <div class="col-md-1 margins-top-bottom-10"><button class="btn btn-xs btn-block btn-danger" ng-click="openDelete(track)"><span class="glyphicon glyphicon-remove"></span>&nbsp;Delete</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>