<div class="col-md-1 margins-top-bottom-2">{{player.id}}</div>
<div class="col-md-4 margins-top-bottom-2">{{player.player_nick}}</div>
<div class="col-md-3 margins-top-bottom-2"></div>
<div class="col-md-2 margins-top-bottom-2"><button class="btn btn-xs btn-success pull-right" ng-click="enableEditor()" ng-hide="view.editorEnabled"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edytuj</button></div>
<div class="col-md-2 margins-top-bottom-2"><button class="btn btn-xs btn-danger pull-right" ng-hide="view.editorEnabled"><span class="glyphicon glyphicon-remove"></span>&nbsp;Usuń</button></div>
<div class="col-md-12" ng-show="view.editorEnabled">
    <div class="panel panel-info drop-shadow-down" >
        <div >
            <form novalidate name="playernick" ng-submit="form.submit(playernick.$valid)" ng-class="{ loading:form.submitting }" novalidate >
                <div ng-show="updateError" class="alert alert-danger">{{updateError}}</div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Player nick</span>
                    <input name="player_nick" placeholder="Nick" class="form-control" type="text" minlength="3" maxlength="32" ng-model="view.nick" ng-model-options="{ debounce: { default : 500, blur: 0 }}" nick-available-validator required>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="disableEditor()">Anuluj</button>
                        <button id="addPlayerConfirm" type="button" class="btn btn-primary" ng-click="save()" data-loading-text="Please wait...">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

