<div class="modal-header" style="background-color: #d6e9c6;border-color: #dff0d8;">
    <h3 class="modal-title">Add new player</h3>
</div>
<div class="modal-body">
    <form novalidate name="player_nick" ng-class="{ loading:form.submitting }" ng-submit="addPlayer()" >
        <div ng-show="addPlayerError" class="alert alert-danger">{{addPlayerError}}</div>
        <fieldset>
            <div class="form-group">
                <label class="col-md-4 control-label" for="add_player_nick">Player nick</label>
                <div class="col-md-8">
                    <input id="add_player_nick" placeholder="Nick" class="form-control input-md" type="text" value="" ng-minlength="3" ng-maxlength="32" ng-model="player.player_nick" ng-model-options="{ debounce: { default : 500, blur: 0 }}" nick-available-validator required>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <div class="col-md-8 alertFade ng-hide" ng-show="existsInList()" style="">Player with that nick already exists</div>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
    <button id="addPlayerConfirm" ng-disabled="!validEntry() || submitNewPlayer" type="button" class="btn btn-primary" ng-click="addPlayer()">{{buttonAdd()}}</button>
</div>