<div class="modal-header" style="background-color: #d2322d;border-color: #ac2925;">
    <h3 class="modal-title">Delete player {{view.nick}}</h3>
</div>
<div class="modal-body">
    <form novalidate name="player_id" ng-class="{ loading:form.submitting }" novalidate >
        <div ng-show="deleteError" class="alert alert-danger">
            <a class="close" ng-click="deleteError=null" ng-href="">×</a>{{deleteError}}
        </div>
        <div class="row">
            <div class="col-lg-12">
                <span>Operation can't be undone! Are you sure you want to delete player <strong>{{view.nick}}</strong>?</span>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-danger" ng-click="delete()" ng-disabled="submitDeletePlayer">{{buttonDelete()}}</button>
</div>