<div class="modal-header" style="background-color: #39b3d7;border-color: #269abc;">
    <h3 class="modal-title">Update player name</h3>
</div>
<div class="modal-body">
    <form novalidate name="player_nick" ng-class="{ loading:form.submitting }" ng-submit="save()" >
        <div ng-show="updateError" class="alert alert-danger">{{updateError}}</div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">Player nick</span>
            <input name="player_nick" placeholder="Nick" class="form-control" type="text" ng-minlength="3" ng-maxlength="32" ng-model="view.nick" ng-model-options="{ debounce: { default : 500, blur: 0 }}" nick-available-validator required>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="col-md-8 alertFade ng-hide" ng-show="!isSame() && existsInList()" style="">Player with that nick already exists</div>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-warning" ng-click="save()" ng-disabled="!validEntry() || submitUpdatePlayer">{{buttonUpdate()}}</button>
</div>
