<div class="modal-header" style="background-color: #d6e9c6;border-color: #dff0d8;">
    <h3 class="modal-title">Add new track</h3>
</div>
<div class="modal-body">
    <form novalidate name="track_name" class="form-horizontal" ng-class="{ loading:form.submitting }" ng-submit="addTrack()" >
        <div ng-show="addTrackError" class="alert alert-danger">
            <a class="close" ng-click="addTrackError=null" ng-href="#">×</a>{{addTrackError}}
        </div>
        <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="add_track_name">Track name</label>
                <div class="col-md-8">
                    <input id="add_track_name" placeholder="Track name" class="form-control input-md" type="text" value="" ng-minlength="3" ng-maxlength="45" ng-model="track.track_name" ng-model-options="{ debounce: { default : 500, blur: 0 }}" ng-trim="true" required="">
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="add_track_code">Track code</label>
                <div class="col-md-4">
                    <input id="add_track_code" placeholder="Track code" class="form-control input-md" type="text" value="" ng-minlength="3" ng-maxlength="32" ng-model="track.track_code" ng-model-options="{ debounce: { default : 500, blur: 0 }}" ng-trim="true">
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="add_track_variant">Track variant</label>
                <div class="col-md-4">
                    <input id="add_track_variant" placeholder="Track variant" class="form-control input-md" type="text" value="" ng-minlength="3" ng-maxlength="32" ng-model="track.track_variant" ng-model-options="{ debounce: { default : 500, blur: 0 }}" ng-trim="true">
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <div class="col-md-8 alertFade ng-hide" ng-show="existsInList()" style="">Track with that name already exists</div>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
    <button id="addTrackConfirm" ng-disabled="!validEntry() || submitNewPlayer" type="button" class="btn btn-primary" ng-click="addTrack()">{{buttonAdd()}}</button>
</div>