<div class="modal-header" style="background-color: #39b3d7;border-color: #269abc;">
    <h3 class="modal-title">Update track</h3>
</div>
<div class="modal-body">
    <form novalidate name="track_name" class="form-horizontal" ng-class="{ loading:form.submitting }" ng-submit="save()" >
        <div ng-show="updateError" class="alert alert-danger">
            <a class="close" ng-click="updateError=null" ng-href="#">×</a>{{updateError}}
        </div>
        <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="update_track_name">Track name</label>
                <div class="col-md-8">
                    <input id="update_track_name" name="track_name" placeholder="Track name" class="form-control input-md" type="text" value="" ng-minlength="3" ng-maxlength="45" ng-model="view.name" ng-model-options="{ debounce: { default : 500, blur: 0 }}" required="" ng-trim="true">
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="update_track_code">Track code</label>
                <div class="col-md-4">
                    <input id="update_track_code" name="track_code" placeholder="Track code" class="form-control input-md" type="text" value="" ng-minlength="3" ng-maxlength="32" ng-model="view.code" ng-model-options="{ debounce: { default : 500, blur: 0 }}" ng-trim="true">
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="update_track_variant">Track variant</label>
                <div class="col-md-4">
                    <input id="update_track_variant" name="track_variant" placeholder="Track variant" class="form-control input-md" type="text" value="" ng-minlength="3" ng-maxlength="32" ng-model="view.variant" ng-model-options="{ debounce: { default : 500, blur: 0 }}" ng-trim="true">
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <div class="col-md-8 alertFade ng-hide" ng-show="!isSame() && existsInList()" style="">Track with that name already exists</div>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-warning" ng-click="save()" ng-disabled="!validEntry() || submitUpdateTrack">{{buttonUpdate()}}</button>
</div>